<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css" integrity="sha384-QYIZto+st3yW+o8+5OHfT6S482Zsvz2WfOzpFSXMF9zqeLcFV0/wlZpMtyFcZALm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
    <title>Happy Teacher's Day</title>
    <script src="https://kit.fontawesome.com/e19484dcd7.js" crossorigin="anonymous"></script>
</head>
<body>
    <video id="background-video" autoplay loop muted poster="./static/a.png">
        <source src="./static/a.png" type="video/mp4">
      </video>
    <h1 class="title">Team LiveWires_ Whishes you,<br> Happy Teacher's day</h1>
        <img src="/static/post.jpg" style="width: 350px; height: 500px;">

</body>
</html>